PORT=3003
MONGO_URI=mongodb://127.0.0.1:27017/stockflow_sales?replicaSet=rs0
MONGO_DB=stockflow_sales
PRODUCT_URL=http://127.0.0.1:3001
INVENTORY_URL=http://127.0.0.1:3002
NATS_URL=nats://127.0.0.1:4222
CURRENCY=USD
